<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>schema</title>
  <style type="text/css">
    {{ template "styles.css" }}
  </style>
</head>

<body>
  <main>
    <header>
      <h1>{{ .Ident }}</h1>
    </header>
    <aside>
      <a class="back" href="/{{ .Back }}/">back</a>
    </aside>
    <section>
      <header>
        <h2>Context</h2>
      </header>
      <p>{{ .Message }}</p>
      <p class="xpath">{{.Rule}}</p>
    </section>
    <section>
      <header>
        <h2>Test</h2>
      </header>
      <p class="xpath">{{.Test}}</p>
    </section>
    {{ if .Failed }}
      <section>
        <header>
          <h2>Error</h2>
        </header>
        <p>{{.Error}}</p>
      </section>
    {{ end }}
    <section>
      <header>
        <h2>Nodes</h2>
      </header>
      {{ range $item := .Items }}
      {{ with $n := .Node }}
        <section>
          <header>
            <h3>{{$n.QualifiedName}} - {{$n.Identity}}</h3>
          </header>
          <pre {{ if not $item.Pass }}class="failure"{{end}}> {{ stringify $n }}</pre>
        </section>
      {{else}}
        <p>empty nodes set</p>
      {{ end }}
      {{ end }}
    </section>
    <footer>
      <a class="back" href="/{{ .Back }}/">back</a>
    </footer>
  </main>
</body>

</html>