{{template "layout" .}}

{{define "header"}}
  <header>
    <h1>{{ .Ident }}</h1>
  </header>
{{end}}

{{define "main"}}
  <section>
    <header>
      <h2>Context</h2>
    </header>
    <p>{{ .Message }}</p>
    <p class="xpath">{{.Rule}}</p>
  </section>
  <section>
    <header>
      <h2>Test</h2>
    </header>
    <p class="xpath">{{.Test}}</p>
  </section>
  {{ if .Failed }}
    <section>
      <header>
        <h2>Error</h2>
      </header>
      <p>{{.Error}}</p>
    </section>
  {{ end }}
  <section>
    <header>
      <h2>Nodes</h2>
    </header>
    {{ range $item := .Items }}
    {{ with $n := .Node }}
      <section>
        <header>
          <h3>{{$n.QualifiedName}} - {{$n.Identity}}</h3>
        </header>
        <pre {{ if not $item.Pass }}class="failure"{{end}}> {{ stringify $n }}</pre>
      </section>
    {{else}}
      <p>empty nodes set</p>
    {{ end }}
    {{ end }}
  </section>
{{end}}