{{define "filter"}}
<form>
  <div>
    <label>rule</label>
    <input id="rule" type="text"/>
  </div>
  <div>
    <label>level</label>
    <select id="level">
      <option value="">all</option>
      <option value="warning">warning</option>
      <option value="fatal">fatal</option>
    </select>
  </div>
  <div>
    <label>status</label>
    <select id="status">
      <option value="">all</option>
      <option value="succeed">success</option>
      <option value="error">error</option>
    </select>
  </div>
  {{ if gt (len .List)  50 }}
  <div>
    <label>count</label>
    <select>
      {{ if gt (len .List) 10 }}<option value="10">10</option>{{ end }}
      {{ if gt (len .List) 25 }}<option value="25">25</option>{{ end }}
      {{ if gt (len .List) 50 }}<option value="50">50</option>{{ end }}
      {{ if gt (len .List) 100 }}<option value="100">100</option> {{ end }}
    </select>
  </div>
  {{ end }}
</form>
{{end}}