{{template "layout" .}}

{{define "header"}}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
{{end}}

{{define "main"}}
<table>
  <thead>
    <th>#</th>
    <th>file</th>
    <th>result</th>
    <th>last modified</th>
    <th>done</th>
    <th></th>
  </thead>
  <tbody>
    {{ range $ix, $el := .Files }}
    <tr id="{{ $el.Status.File }}" class="{{ statusClass $el.Status }}">
      <td class="text-center">{{ increment $ix}}</td>
      <th>{{ $el.Status.File }}</th>
      <td width="10%" class="text-center">
        {{ with $res := percent $el.Status}}
          <span>{{ printf "%.2f" $res }}&percnt;</span>
        {{ end }}
      </td>
      <td class="text-center">
        {{ datetimefmt .LastMod }}
      </td>
      <td class="text-center">
        {{ not .Building }}
      </td>
      <td class="text-center">
        <a class="btn btn-default" title="view details" href="/{{ $el.Status.File }}/">see</a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{end}}
