{{template "layout" .}}

{{define "header"}}
  <header>
    <h1>{{ .File }}</h1>
  </header>
{{end}}

{{define "main"}}
  {{template "filter" .}}
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Rule Identifier</th>
        <th>Severity Level</th>
        <th>Passing Node</th>
        <th>Matching Node</th>
        <th>Error</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range $ix, $el := .List}}
        <tr id="{{ $el.Ident }}" {{ if $el.Failed }}class="{{ $el.Level }}"{{ end }}>
          <td class="text-center">{{ increment $ix}}</td>
          <th>{{$el.Ident}}</th>
          <td class="text-center">{{$el.Level}}</td>
          <td class="text-center">{{$el.Pass}}</td>
          <td class="text-center">{{$el.Total}}</td>
          <td>{{$el.Error}}</td>
          <td class="text-center">
            <a class="btn btn-default" href="{{ $el.Ident }}.html">see</a>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
  <script src="/overview.js"></script>
{{end}}