body {
  font-family: system-ui;
  font-size: 0.9em;
}

main {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table{
  width: 100%;
  border-collapse:collapse
}

table tbody th{
  width: 30%
}

table tbody td:first-child {
  width: 5%;
}

table tbody td:last-child {
  width: 10%;
}

table td, table th{
  padding: 4px 8px;
  border: 1px solid #E0E0E0
}

.warning{
  background-color: #FB8C00; 
  color: white
}

.fatal{
  background-color: #E53935; 
  color: white
}

.text-center{
  text-align:center;
}

.btn, .btn-default {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #dddbda;
  color: #0070d2;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

p.xpath {
  color: #039BE5;
}

p.xpath, pre {
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  padding: 8px;
}

pre {
  font-size: 1.15em;
}

pre.failure, pre.fatal {
  border-color: #B71C1C;
  background-color: #FFCDD2;
}

form {
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
  flex-flow: row wrap;
  align-items: center;
}

form div {
  display: flex;
  gap: 8px;
  align-items: center;
}

form label {
  display: inline-block;
  font-weight: 400;
  font-size: 1.2em;
}

form label:first-letter{
  text-transform: uppercase;
}

form input, form select, form label {
  flex-grow: 2;
}

form input, form select {
  font-size: 1.15em;
  padding: 8px;
  border: 1px solid #BDBDBD;
}
