<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>schema</title>
  <style type="text/css">
    body {
      font-family: system-ui;
      font-size: 0.9em;
    }
    main {
      width: 70%;
      margin: 0 auto;
    }
    h1, h2 {
      text-align: center;
    }
  </style>
</head>

<body>
  <main>
    <header>
      <h1>Reports are under Construction</h1>
      <h2>When all reports will be ready the page will be automatically refreshed and the results will be displayed</h2>
    </header>
  </main>
</body>

</html>