<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.File}}</title>
  <style type="text/css">
    {{ template "styles.css" }}
  </style>
</head>

<body>
  <main>
    <header>
      <h1>{{.File}}</h1>
      {{ if not .Static }}
      <aside>
        {{ if not .Static }}
        <a title="run new check on the document against the schema" href="/process/{{ .File }}">process</a>
        {{ end }}
      </aside>
      {{ end }}
    </header>
    <form>
      <div>
        <label>rule</label>
        <input id="rule" type="text"/>
      </div>
      <div>
        <label>level</label>
        <select id="level">
          <option value="">all</option>
          <option value="warning">warning</option>
          <option value="fatal">fatal</option>
        </select>
      </div>
      <div>
        <label>status</label>
        <select id="status">
          <option value="">all</option>
          <option value="succeed">success</option>
          <option value="error">error</option>
        </select>
      </div>
      {{ if gt (len .List)  50 }}
      <div>
        <label>count</label>
        <select>
          {{ if gt (len .List) 10 }}<option value="10">10</option>{{ end }}
          {{ if gt (len .List) 25 }}<option value="25">25</option>{{ end }}
          {{ if gt (len .List) 50 }}<option value="50">50</option>{{ end }}
          {{ if gt (len .List) 100 }}<option value="100">100</option> {{ end }}
        </select>
      </div>
      {{ end }}
    </form>
    <nav>
    </nav>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Rule Identifier</th>
          <th>Severity Level</th>
          <th>Passing Node</th>
          <th>Matching Node</th>
          <th>Error</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range $ix, $el := .List}}
          <tr id="{{ $el.Ident }}" {{ if $el.Failed }}class="{{ $el.Level }}"{{ end }}>
            <td class="text-center">{{ increment $ix}}</td>
            <th>{{$el.Ident}}</th>
            <td class="text-center">{{$el.Level}}</td>
            <td class="text-center">{{$el.Pass}}</td>
            <td class="text-center">{{$el.Total}}</td>
            <td>{{$el.Error}}</td>
            <td class="text-center">
              <a href="{{ $el.Ident }}.html">see</a>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </main>
  <script>
    {{ template "overview.js" }}
  </script>
</body>

</html>